input:not([type='submit']):not([type='reset']):not([type='button']),
select,
textarea {
  box-shadow: 1px 1px var(--neg-800), 2px 2px var(--neg-800), 3px 3px var(--neg-800), 4px 4px var(--neg-800);
  @apply placeholder-neg-600
    text-neg-800
    bg-neg-200
    font-body;
}

input[type='submit'],
input[type='reset'],
input[type='button'] {
  border-width: 1px;
  box-shadow: 1px 1px var(--neg-800), 2px 2px var(--neg-800), 3px 3px var(--neg-800), 4px 4px var(--neg-800);
  transition: all 0.05s;
  @apply text-neg-800
    bg-neg-200
    font-body
    p-2 m-1 mr-2 mb-2;
}

input[type='submit']:hover,
input[type='reset']:hover,
input[type='button']:hover {
  @apply text-neg-900
    bg-neg-300;
}
input[type='submit']:active,
input[type='reset']:active,
input[type='button']:active {
  box-shadow: 0 0 transparent;
  @apply text-neg-700
    bg-neg-100 ml-2 mr-1 mb-1 mt-2;
}
input[type='submit']:disabled,
input[type='reset']:disabled,
input[type='button']:disabled {
  box-shadow: 0 0 transparent;
  @apply text-neg-300
    bg-neg-100 ml-2 mr-1 mb-1 mt-2;
}

span:not(.input) input:not([type='submit']):not([type='reset']):not([type='button']),
span:not(.input) select,
span:not(.input) textarea {
  border-width: 1px;
  @apply border-neg-800
    p-2 m-0;
}

form span {
  display: inline-block;
}

span.input {
  box-shadow: 1px 1px var(--neg-800), 2px 2px var(--neg-800), 3px 3px var(--neg-800), 4px 4px var(--neg-800);
  border-width: 1px;
  width: max-content;
  @apply placeholder-neg-600
    text-neg-800
    border-neg-800
    bg-neg-200
    font-body
    p-2;
}

span.input input:not([type='submit']):not([type='reset']):not([type='button']),
span.input select,
span.input textarea {
  box-shadow: none;
  @apply p-0 m-0 w-32;
}

form > div {
  padding: 4px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

span input:not([type='submit']):not([type='reset']):not([type='button']),
span select,
span textarea {
  @apply p-1 mx-1;
}

div.tinyLabel {
  font-size: 14px;
  margin-bottom: -8px;
}

span div.tinyLabel {
  font-size: 14px;
  margin-bottom: 0;
  margin-top: 4px;
}

div.label {
  font-size: 16px;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  gap: 8px;
}

span div.label {
  font-size: 16px;
  margin-bottom: 4px;
  display: flex;
  align-items: center;
  gap: 8px;
}

div.label::after {
  display: inline-block;
  content: '';
  height: 1px;
  flex-grow: 1;
  background-color: var(--pos-800);
}

div.help {
  font-size: 14px;
  padding: 0 8px;
  @apply text-pos-600;
}

div.warning {
  color: yellow;
  @apply before:content-["⚠️_"];
}

span.error {
  color: red;
  font-weight: bold;
}

span.submitRight {
  text-align: right;
  display: flex;
  justify-content: right;
}

textarea {
  @apply font-mono;
}

button[type='button'] {
  border-width: 1px;
  @apply text-neg-800
    bg-neg-200
    font-body
    p-2 mr-1;
}

/* span.ownerIndex > button[type=button] {
  @apply ml-2 mt-0;
} */

button[type='button']:hover {
  @apply text-neg-900
    bg-neg-300;
}

button[type='button']:active {
  @apply text-neg-700
    bg-neg-100;
}

button[type='button']:disabled {
  @apply text-neg-300
    bg-neg-100;
}

button[type='button'].inline {
  border-width: 0;
  width: 100%;
  margin: 0;
  text-align: left;
  /* @apply text-neg-600; */
}

/* span.inline {
  @apply bg-neg-100;
  width: 100%;
} */
